@font-face {
    font-family: "BOTW";
    src: url('/Proyecto_Multimedia/styles/The_Wild_Breath_of_Zelda.otf');
}

body {
    /*  background-image: url('/media/images/trifuerza.png');*/

    font-family: 'Montserrat', sans-serif;
}

.titulo_principal {
    font-size-adjust: 0.5;
    font-size: 50px;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 5px;
    font-family: "BOTW";
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(58,58,236,1) 56%, rgba(0,212,255,1) 99%);
    z-index: 99;
}
.titulo_descripcion{
    font-family: "BOTW";
    font-size: 30px;
    text-align:center;
}

.nav_proyect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    position: sticky;
    top: 90px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    z-index: 99;
}

.opcion-menu {
    text-decoration: none;
    color: black;
}

    .opcion-menu:hover {
        text-decoration: none;
        color: green;
        cursor: pointer;
    }

.Contenido_principal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    padding: 0px 100px;
    padding-top: 30px;
}

.columna_rewards {
    position: sticky;
    top: 136px;
    border: 2px solid grey;
    z-index: 98;
}

.scroll {
    height: 650px;
    width: 310px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
    background-color: none;
    z-index: 98;
}

.contenido {
    background-color: white;
    padding: 5px 40px;
    border-color: unset;
}

.descripcion {
    border: 2px solid black;
    margin-right: 30px;
    padding: 20px;
}

.actual {
    border-bottom: 2px solid black;
    background-color: rgba(2, 2, 2, 0.137);
}

.pie {
    flex: none;
    padding: 20px;
    margin-top: 20px;
    border-top: 2px solid black;}
    .Comentarios{
        padding: 20px;
    }
    .PreguntaRespuesta{text-align: center;

    }
    @media(max-width:1240px){
       #Zelda{
            display: none;
        }
    }
    @media(max-width:1025px){
        .nav_proyect{
             flex-direction: column;
         }
         .actual{
             border-top: 2px solid black;
         }
         .Contenido_principal{
            width: 100%;
            flex-shrink: 2;
            flex-direction: column;
        }
     }
     @media(max-width:860px){
         .titulo_principal{
             font-size: 2rem;
         }
       
         .child-Contenido_principal{
             width: auto;
         }
         
     }
     @media(max-width:360px){
        .titulo_principal{
            font-size: 1rem;
        }
    }
  